articles--alt.html
<!DOCTYPE html>
<html>
  <!-- Содержимое тега <head> для всех страниц-->
  <head>
    <meta charset="utf-8">
    <title>Zona</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <!-- Шрифты-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;amp;subset=latin,cyrillic">
    <!-- Стили-->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- Скрипты-->
    <script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="js/slick.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
  </head>
  <body>
    <!-- Шапка главной страницы-->
    <header class="head harticles"><a href="#" class="head--logo visible-sm"></a><a href="#" class="head--anuncio"><i></i><span>Publica Anuncio</span></a>
      <div class="head--input">
        <input type="text">
      </div>
      <div class="head--tools clearfix"><a href="#" class="left i1"></a><a href="#" class="left i2"></a></div>
    </header>
    <div class="container">
      <div class="articles">
        <div class="articles--title clearfix">
          <div class="articles--filter left"><a href="#" class="articles--filter-btn">Filters (0)</a>
            <div class="articles--filter-box">
              <ul class="articles--filter-list">
                <li><a href="#">Categoria 1</a><i class="non-active">+</i><i class="active">-</i>
                  <ul>
                    <li class="sub">&gt; SubCategoria 1
                      <ul>
                        <li>&gt; SubCategoria 1</li>
                        <li>&gt; SubCategoria 2</li>
                        <li>&gt; SubCategoria 3</li>
                        <li>&gt; SubCategoria 4</li>
                      </ul>
                    </li>
                    <li>&gt; SubCategoria 2</li>
                    <li>&gt; SubCategoria 3</li>
                  </ul>
                </li>
                <li><a href="#">Categoria 2</a><i class="non-active">+</i><i class="active">-</i>
                  <ul>
                    <li class="sub">&gt; SubCategoria 1
                      <ul>
                        <li>&gt; SubCategoria 1</li>
                        <li>&gt; SubCategoria 2</li>
                        <li>&gt; SubCategoria 3</li>
                        <li>&gt; SubCategoria 4</li>
                      </ul>
                    </li>
                    <li>&gt; SubCategoria 2</li>
                    <li>&gt; SubCategoria 3</li>
                  </ul>
                </li>
                <li><a href="#">Categoria 3</a><i class="non-active">+</i><i class="active">-</i>
                  <ul>
                    <li class="sub">&gt; SubCategoria 1
                      <ul>
                        <li>&gt; SubCategoria 1</li>
                        <li>&gt; SubCategoria 2</li>
                        <li>&gt; SubCategoria 3</li>
                        <li>&gt; SubCategoria 4</li>
                      </ul>
                    </li>
                    <li>&gt; SubCategoria 2</li>
                    <li>&gt; SubCategoria 3</li>
                  </ul>
                </li>
                <li><a href="#">Categoria 4</a><i class="non-active">+</i><i class="active">-</i>
                  <ul>
                    <li class="sub">&gt; SubCategoria 1
                      <ul>
                        <li>&gt; SubCategoria 1</li>
                        <li>&gt; SubCategoria 2</li>
                        <li>&gt; SubCategoria 3</li>
                        <li>&gt; SubCategoria 4</li>
                      </ul>
                    </li>
                    <li>&gt; SubCategoria 2</li>
                    <li>&gt; SubCategoria 3</li>
                  </ul>
                </li>
                <li><a href="#">Categoria 5</a><i class="non-active">+</i><i class="active">-</i>
                  <ul>
                    <li class="sub">&gt; SubCategoria 1
                      <ul>
                        <li>&gt; SubCategoria 1</li>
                        <li>&gt; SubCategoria 2</li>
                        <li>&gt; SubCategoria 3</li>
                        <li>&gt; SubCategoria 4</li>
                      </ul>
                    </li>
                    <li>&gt; SubCategoria 2</li>
                    <li>&gt; SubCategoria 3</li>
                  </ul>
                </li>
                <li><a href="#">Categoria 6</a><i class="non-active">+</i><i class="active">-</i>
                  <ul>
                    <li class="sub">&gt; SubCategoria 1
                      <ul>
                        <li>&gt; SubCategoria 1</li>
                        <li>&gt; SubCategoria 2</li>
                        <li>&gt; SubCategoria 3</li>
                        <li>&gt; SubCategoria 4</li>
                      </ul>
                    </li>
                    <li>&gt; SubCategoria 2</li>
                    <li>&gt; SubCategoria 3</li>
                  </ul>
                </li>
                <li><a href="#">Categoria 7</a><i class="non-active">+</i><i class="active">-</i>
                  <ul>
                    <li class="sub">&gt; SubCategoria 1
                      <ul>
                        <li>&gt; SubCategoria 1</li>
                        <li>&gt; SubCategoria 2</li>
                        <li>&gt; SubCategoria 3</li>
                        <li>&gt; SubCategoria 4</li>
                      </ul>
                    </li>
                    <li>&gt; SubCategoria 2</li>
                    <li>&gt; SubCategoria 3</li>
                  </ul>
                </li>
                <li><a href="#">Categoria 8</a><i class="non-active">+</i><i class="active">-</i>
                  <ul>
                    <li class="sub">&gt; SubCategoria 1
                      <ul>
                        <li>&gt; SubCategoria 1</li>
                        <li>&gt; SubCategoria 2</li>
                        <li>&gt; SubCategoria 3</li>
                        <li>&gt; SubCategoria 4</li>
                      </ul>
                    </li>
                    <li>&gt; SubCategoria 2</li>
                    <li>&gt; SubCategoria 3</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <div class="news--item-title right clearfix">
            <div class="news--item-name left">Most popular articles</div><a href="#" class="news--item-more right hidden-xs">Todos</a>
          </div>
        </div>
        <div class="article">
          <div class="article--inner">
            <div class="article--desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sodales mattis gravida. In hac habitasse platea dictumst.</div>
          </div>
        </div><a href="#" class="article hidden-sm">
          <div class="article--image-big"><img src="http://placeholdit.imgix.net/~text?txtsize=60&amp;txt=100x57&amp;w=200&amp;h=114" alt=""></div>
          <div class="article--inner">
            <div class="article--title">O Lorem Ipsum é um texto modelo da indústria</div>
          </div></a>
        <div class="article visible-sm">
          <div class="article--inner pad">
            <div class="article--image"><img src="http://placeholdit.imgix.net/~text?txtsize=60&amp;txt=100x57&amp;w=200&amp;h=114" alt=""></div>
            <div class="article--info">
              <div class="article--title">Existem muitas variações das passagens</div>
              <div class="article--photo">11</div>
              <div class="article--height">1900 metros</div>
            </div>
            <div class="article--text">Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que ....&nbsp;<a href="#">Leia mais</a></div>
            <div class="article--tools visible-sm clearfix">
              <div class="article--tags left"><span class="bold">Tags :</span><a href="#">proin</a><span>,</span><a href="#">iaculis</a></div>
              <div class="article--category right"><a href="#">Áustria Saalbach - Category</a></div>
            </div>
          </div>
        </div><a href="#" class="article hidden-sm">
          <div class="article--image-big"><img src="http://placeholdit.imgix.net/~text?txtsize=60&amp;txt=100x57&amp;w=200&amp;h=114" alt=""></div>
          <div class="article--inner">
            <div class="article--title">O Lorem Ipsum é um texto modelo da indústria</div>
          </div></a>
        <div class="article visible-sm">
          <div class="article--inner pad">
            <div class="article--image"><img src="http://placeholdit.imgix.net/~text?txtsize=60&amp;txt=100x57&amp;w=200&amp;h=114" alt=""></div>
            <div class="article--info">
              <div class="article--title">Existem muitas variações das passagens</div>
              <div class="article--photo">11</div>
              <div class="article--height">1900 metros</div>
            </div>
            <div class="article--text">Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que ....&nbsp;<a href="#">Leia mais</a></div>
            <div class="article--tools visible-sm clearfix">
              <div class="article--tags left"><span class="bold">Tags :</span><a href="#">proin</a><span>,</span><a href="#">iaculis</a></div>
              <div class="article--category right"><a href="#">Áustria Saalbach - Category</a></div>
            </div>
          </div>
        </div><a href="#" class="article hidden-sm">
          <div class="article--image-big"><img src="http://placeholdit.imgix.net/~text?txtsize=60&amp;txt=100x57&amp;w=200&amp;h=114" alt=""></div>
          <div class="article--inner">
            <div class="article--title">O Lorem Ipsum é um texto modelo da indústria</div>
          </div></a>
        <div class="article visible-sm">
          <div class="article--inner pad">
            <div class="article--image"><img src="http://placeholdit.imgix.net/~text?txtsize=60&amp;txt=100x57&amp;w=200&amp;h=114" alt=""></div>
            <div class="article--info">
              <div class="article--title">Existem muitas variações das passagens</div>
              <div class="article--photo">11</div>
              <div class="article--height">1900 metros</div>
            </div>
            <div class="article--text">Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que ....&nbsp;<a href="#">Leia mais</a></div>
            <div class="article--tools visible-sm clearfix">
              <div class="article--tags left"><span class="bold">Tags :</span><a href="#">proin</a><span>,</span><a href="#">iaculis</a></div>
              <div class="article--category right"><a href="#">Áustria Saalbach - Category</a></div>
            </div>
          </div>
        </div><a href="#" class="article hidden-sm">
          <div class="article--image-big"><img src="http://placeholdit.imgix.net/~text?txtsize=60&amp;txt=100x57&amp;w=200&amp;h=114" alt=""></div>
          <div class="article--inner">
            <div class="article--title">O Lorem Ipsum é um texto modelo da indústria</div>
          </div></a>
        <div class="article visible-sm">
          <div class="article--inner pad">
            <div class="article--image"><img src="http://placeholdit.imgix.net/~text?txtsize=60&amp;txt=100x57&amp;w=200&amp;h=114" alt=""></div>
            <div class="article--info">
              <div class="article--title">Existem muitas variações das passagens</div>
              <div class="article--photo">11</div>
              <div class="article--height">1900 metros</div>
            </div>
            <div class="article--text">Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que ....&nbsp;<a href="#">Leia mais</a></div>
            <div class="article--tools visible-sm clearfix">
              <div class="article--tags left"><span class="bold">Tags :</span><a href="#">proin</a><span>,</span><a href="#">iaculis</a></div>
              <div class="article--category right"><a href="#">Áustria Saalbach - Category</a></div>
            </div>
          </div>
        </div>
        <ul class="articles--pagination">
          <li class="prev"><a href="#">&lt;&lt;</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li class="next"><a href="#">&gt;&gt;</a></li>
        </ul>
      </div>
    </div>
    <footer class="foot">
      <div class="foot--socials"><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a></div>
      <div class="foot--links">
        <li><a href="#">Estações</a></li>
        <li><span>//</span></li>
        <li><a href="#">Dicas</a></li>
        <li><span>//</span></li>
        <li><a href="#">Vamo Junto</a></li>
        <li><span>//</span></li>
        <li><a href="#">Pacotes</a></li>
        <li><span>//</span></li>
        <li><a href="#">Forum</a></li>
        <li><span>//</span></li>
        <li><a href="#">Galera Snow</a></li>
      </div>
      <div class="foot--form">
        <input type="text" placeholder="Seu email...">
        <button type="submit">@</button><br><span>Receba a nossa newsletter</span>
      </div>
      <div class="foot--copy">Politica de Privacidade. Copyright 2014-2015.</div>
    </footer>
    <div class="menu"><a href="#" class="menu--close"></a>
      <div class="menu--inner"><a href="#" class="menu--login"><img src="img/menu--login.png" alt=""><span>Log in</span></a>
        <div class="menu--links">
          <ul>
            <li class="sub"><span>Home</span><i></i>
              <ul>
                <li><a href="#">videos</a></li>
                <li><a href="#">eventos</a></li>
                <li><a href="#">galerias de fotos</a></li>
              </ul>
            </li>
            <li class="sub"><span>Estações</span><i></i>
              <ul>
                <li><a href="#">videos</a></li>
                <li><a href="#">eventos</a></li>
                <li><a href="#">galerias de fotos</a></li>
              </ul>
            </li>
            <li class="sub"><span>Dicas</span><i></i>
              <ul>
                <li><a href="#">videos</a></li>
                <li><a href="#">eventos</a></li>
                <li><a href="#">galerias de fotos</a></li>
              </ul>
            </li>
            <li><a href="#">Vamo Junto</a></li>
            <li class="sub"><span>Pacotes</span><i></i>
              <ul>
                <li><a href="#">videos</a></li>
                <li><a href="#">eventos</a></li>
                <li><a href="#">galerias de fotos</a></li>
              </ul>
            </li>
            <li class="sub"><span>Forum</span><i></i>
              <ul>
                <li><a href="#">videos</a></li>
                <li><a href="#">eventos</a></li>
                <li><a href="#">galerias de fotos</a></li>
              </ul>
            </li>
            <li class="sub"><span>Galera Snow</span><i></i>
              <ul>
                <li><a href="#">videos</a></li>
                <li><a href="#">eventos</a></li>
                <li><a href="#">galerias de fotos</a></li>
              </ul>
            </li>
          </ul>
        </div><a href="#" class="menu--settings">Settings</a>
      </div>
    </div>
    <div class="login"><a href="#" class="login--close"></a>
      <div class="login--inner"> 
        <div class="login--title">Entre na sua conta do Zona Radical</div>
        <div class="login--label">Faca o login com seu e-mail</div>
        <div class="login--input"> 
          <input type="text" placeholder="SEU EMAIL...">
        </div>
        <div class="login--input"> 
          <input type="text" placeholder="SENHA">
        </div>
        <div class="login--submit"> 
          <button type="submit">Entrar</button>
        </div>
        <div class="login--or">ou&nbsp;<a href="#">Esqueci a senha</a></div>
        <div class="login--socials"> <a href="#" class="fb">Entrar com o Facebook</a><a href="#" class="gp">Entrar com o Google</a><a href="#" class="tw">Entrar com o Twitter</a></div>
        <div class="login--or">Nao tem uma conta?&nbsp;<a href="#">Cadastre-se</a></div>
      </div>
    </div>
  </body>
</html>

jade/articles--alt.jade
doctype html
html
	include ./includes/head.jade

	body
		include ./includes/header--articles.jade

		.container
			.articles
				include ./includes/articles--filter.jade

				a(href="#").article.hidden-sm
					.article--image-big
						img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

					.article--inner
						.article--title O Lorem Ipsum é um texto modelo da indústria

				.article.visible-sm
					.article--inner.pad
						.article--image
							img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

						.article--info
							.article--title Existem muitas variações das passagens

							.article--photo 11
							.article--height 1900 metros

						.article--text Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que ....&nbsp;
							a(href="#") Leia mais

						.article--tools.visible-sm.clearfix
							.article--tags.left
								span.bold Tags :
								a(href="#") proin
								span ,
								a(href="#") iaculis

							.article--category.right
								a(href="#") Áustria Saalbach - Category

				a(href="#").article.hidden-sm
					.article--image-big
						img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

					.article--inner
						.article--title O Lorem Ipsum é um texto modelo da indústria

				.article.visible-sm
					.article--inner.pad
						.article--image
							img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

						.article--info
							.article--title Existem muitas variações das passagens

							.article--photo 11
							.article--height 1900 metros

						.article--text Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que ....&nbsp;
							a(href="#") Leia mais

						.article--tools.visible-sm.clearfix
							.article--tags.left
								span.bold Tags :
								a(href="#") proin
								span ,
								a(href="#") iaculis

							.article--category.right
								a(href="#") Áustria Saalbach - Category

				a(href="#").article.hidden-sm
					.article--image-big
						img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

					.article--inner
						.article--title O Lorem Ipsum é um texto modelo da indústria

				.article.visible-sm
					.article--inner.pad
						.article--image
							img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

						.article--info
							.article--title Existem muitas variações das passagens

							.article--photo 11
							.article--height 1900 metros

						.article--text Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que ....&nbsp;
							a(href="#") Leia mais

						.article--tools.visible-sm.clearfix
							.article--tags.left
								span.bold Tags :
								a(href="#") proin
								span ,
								a(href="#") iaculis

							.article--category.right
								a(href="#") Áustria Saalbach - Category

				a(href="#").article.hidden-sm
					.article--image-big
						img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

					.article--inner
						.article--title O Lorem Ipsum é um texto modelo da indústria

				.article.visible-sm
					.article--inner.pad
						.article--image
							img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

						.article--info
							.article--title Existem muitas variações das passagens

							.article--photo 11
							.article--height 1900 metros

						.article--text Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que ....&nbsp;
							a(href="#") Leia mais

						.article--tools.visible-sm.clearfix
							.article--tags.left
								span.bold Tags :
								a(href="#") proin
								span ,
								a(href="#") iaculis

							.article--category.right
								a(href="#") Áustria Saalbach - Category

				ul.articles--pagination
					li.prev
						a(href="#") &lt;&lt;
					
					li.active
						a(href="#") 1

					li
						a(href="#") 2

					li
						a(href="#") 3

					li
						a(href="#") 4
					
					li.next
						a(href="#") &gt;&gt;

		include ./includes/footer.jade
		include ./includes/menu.jade
		include ./includes/login.jade
