jade/article--3.jade
doctype html
html
	include ./includes/head.jade

	body
		include ./includes/header--article.jade

		.container
			.one
				.one--info(style="background-image: url(http://placeholdit.imgix.net/~text?txtsize=100&txt=320x200&w=640&h=400)")
					.one--info-image
						img(src="http://placeholdit.imgix.net/~text?txtsize=30&txt=110x60&w=220&h=120" alt="")
					.one--info-title COMO GUARDAR A PRANCHA
					.one--info-date
						i
						span 01.23.86

				.one--inner
					.one--inner-avatar
						img(src="http://placeholdit.imgix.net/~text?txtsize=30&txt=50x50&w=100&h=100" alt="")

					.one--inner-name.visible-sm Alexander Ivanov

					.article--slider
						.slide
							.image
								img(src="img/intro--slider-01.jpg" alt="")
							.text
								p.title Levi, Finland
								
								p Levi is the only resort in this list that’s situated in Finland. It always seems to get snow super early in the winter, probably because it’s way inside the Arctic Circle. The mountain is in fact more of a hill really, but there are some really fun runs among the trees and the natural half pipe on the run down to the base is legendary.

								p In mid winter it gets dark in Levi very early which is when something pretty awesome happens; all over the hill flood lights are turned on and the lifts keep turning until 9pm. Cruising around under the floodlights as ice crystals freeze to your face in the -30 degree air before heading back to the log cabin for a sauna is a pretty memorable experience.

						.slide
							.image
								img(src="img/intro--slider-02.jpg" alt="")
							.text
								p.title Levi, Finland

								p Levi is the only resort in this list that’s situated in Finland. It always seems to get snow super early in the winter, probably because it’s way inside the Arctic Circle. The mountain is in fact more of a hill really, but there are some really fun runs among the trees and the natural half pipe on the run down to the base is legendary.

					.article--tools.clearfix
						.article--tags.left
							span.bold Tags :
							a(href="#") proin
							span ,
							a(href="#") iaculis
							span ,
							a(href="#") hendrerit
							span ,
							a(href="#") lacinia
							span ,
							a(href="#") pellentesque

						.article--category.right
							a(href="#") Áustria Saalbach - Category

				.one--author
					.one--author-avatar
						img(src="http://placeholdit.imgix.net/~text?txtsize=30&txt=50x50&w=100&h=100" alt="")
					a(href="#").one--author-line Sobre autor
					.one--author-name Alexander Ivanov
					.one--author-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sodales mattis gravida.

				.trips
					a(href="#") Crirar Trip
					a(href="#") Todos Trip
					a(href="#") Crirar Trip
					a(href="#") Todos Trip

				.comments
					.news--item-title.clearfix
						.news--item-name.left COMENTÁRIOS:

					.comments--list
						.comment
							.comment--avatar
								img(src="http://placeholdit.imgix.net/~text?txtsize=30&txt=50x50&w=100&h=100" alt="")
							.comment--inner
								.comment--info
									a(href="#").comment--author Felipe Mischiatti Cazelli Mischiatti Cazelli
									span.comment--date , 23 de March, 2016 às 01:36 PM
								.comment--text Atrás de algo barato que esse tá osso, vc já...

						.comment.sub
							.comment--avatar
								img(src="http://placeholdit.imgix.net/~text?txtsize=30&txt=50x50&w=100&h=100" alt="")
							.comment--inner
								.comment--info
									a(href="#").comment--author Fábio Paz Paz
									span.comment--date , 23 de March, 2016 às 02:34 PM
								.comment--text Atrás de algo barato que esse tá osso...
						.comment
							.comment--avatar
								img(src="http://placeholdit.imgix.net/~text?txtsize=30&txt=50x50&w=100&h=100" alt="")
							.comment--inner
								.comment--info
									a(href="#").comment--author Alexander Ivanov
									span.comment--date , 23 de March, 2016 às 01:36 PM
								.comment--text Atrás de algo barato que esse tá osso, vc já...

					.comments--form
						form(action="" method="POST")
							input(type="text" placeholder="Add a comment or a reply here ...")
							button(type="submit") Enviar

				.news--item-title.clearfix
					.news--item-name.left Related materials:

				.related--slider
					.slide
						.article.visible-sm
							.article--inner.pad
								.article--image
									img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

								.article--info
									.article--title Existem muitas variações das passagens

									a(href="#").article--user Admin

								.article--text Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que ....&nbsp;
									a(href="#") Leia mais

								.article--tools.visible-sm.clearfix
									.article--tags.left
										span.bold Tags :
										a(href="#") proin
										span ,
										a(href="#") iaculis
										span ,
										a(href="#") hendrerit
										span ,
										a(href="#") lacinia
										span ,
										a(href="#") pellentesque

									.article--category.right
										a(href="#") Áustria Saalbach - Category
							
						a(href="#").article.hidden-sm
							.article--image-big
								img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

							.article--inner
								.article--title O Lorem Ipsum é um texto modelo da indústria

					.slide
						.article.visible-sm
							.article--inner.pad
								.article--image
									img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

								.article--info
									.article--title Existem muitas variações das passagens

									a(href="#").article--user Admin

								.article--text Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que ....&nbsp;
									a(href="#") Leia mais

								.article--tools.visible-sm.clearfix
									.article--tags.left
										span.bold Tags :
										a(href="#") proin
										span ,
										a(href="#") iaculis
										span ,
										a(href="#") hendrerit
										span ,
										a(href="#") lacinia
										span ,
										a(href="#") pellentesque

									.article--category.right
										a(href="#") Áustria Saalbach - Category
							
						a(href="#").article.hidden-sm
							.article--image-big
								img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

							.article--inner
								.article--title O Lorem Ipsum é um texto modelo da indústria

					.slide
						.article.visible-sm
							.article--inner.pad
								.article--image
									img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

								.article--info
									.article--title Existem muitas variações das passagens

									a(href="#").article--user Admin

								.article--text Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que ....&nbsp;
									a(href="#") Leia mais

								.article--tools.visible-sm.clearfix
									.article--tags.left
										span.bold Tags :
										a(href="#") proin
										span ,
										a(href="#") iaculis
										span ,
										a(href="#") hendrerit
										span ,
										a(href="#") lacinia
										span ,
										a(href="#") pellentesque

									.article--category.right
										a(href="#") Áustria Saalbach - Category
							
						a(href="#").article.hidden-sm
							.article--image-big
								img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

							.article--inner
								.article--title O Lorem Ipsum é um texto modelo da indústria

				.news--item-title.clearfix
					.news--item-name.left Proximo evento:

				a(href="#").article.hidden-sm
					.article--image-big
						img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

					.article--inner
						.article--title O Lorem Ipsum é um texto modelo da indústria

				.article.visible-sm
					.article--inner.pad
						.article--image
							img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

						.article--info
							.article--title Existem muitas variações das passagens

							.article--photo 11
							.article--height 1900 metros

						.article--text Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que ....&nbsp;
							a(href="#") Leia mais

						.article--tools.visible-sm.clearfix
							.article--tags.left
								span.bold Tags :
								a(href="#") proin
								span ,
								a(href="#") iaculis

							.article--category.right
								a(href="#") Áustria Saalbach - Category

		include ./includes/footer.jade
		include ./includes/menu.jade
		include ./includes/login.jade

article--3.html
<!DOCTYPE html>
<html>
  <!-- Содержимое тега <head> для всех страниц-->
  <head>
    <meta charset="utf-8">
    <title>Zona</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <!-- Шрифты-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;amp;subset=latin,cyrillic">
    <!-- Стили-->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- Скрипты-->
    <script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="js/slick.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
  </head>
  <body>
    <!-- Шапка главной страницы-->
    <header class="head harticle"><a href="#" class="head--back"><i></i><span>Finlandia</span></a>
      <div class="head--input">
        <input type="text">
      </div>
      <div class="head--tools clearfix"><a href="#" class="left i1"></a><a href="#" class="left i2"></a></div>
    </header>
    <div class="container">
      <div class="one">
        <div style="background-image: url(http://placeholdit.imgix.net/~text?txtsize=100&amp;txt=320x200&amp;w=640&amp;h=400)" class="one--info">
          <div class="one--info-image"><img src="http://placeholdit.imgix.net/~text?txtsize=30&amp;txt=110x60&amp;w=220&amp;h=120" alt=""></div>
          <div class="one--info-title">COMO GUARDAR A PRANCHA</div>
          <div class="one--info-date"><i></i><span>01.23.86</span></div>
        </div>
        <div class="one--inner">
          <div class="one--inner-avatar"><img src="http://placeholdit.imgix.net/~text?txtsize=30&amp;txt=50x50&amp;w=100&amp;h=100" alt=""></div>
          <div class="one--inner-name visible-sm">Alexander Ivanov</div>
          <div class="article--slider">
            <div class="slide">
              <div class="image"><img src="img/intro--slider-01.jpg" alt=""></div>
              <div class="text">
                <p class="title">Levi, Finland</p>
                <p>Levi is the only resort in this list that’s situated in Finland. It always seems to get snow super early in the winter, probably because it’s way inside the Arctic Circle. The mountain is in fact more of a hill really, but there are some really fun runs among the trees and the natural half pipe on the run down to the base is legendary.</p>
                <p>In mid winter it gets dark in Levi very early which is when something pretty awesome happens; all over the hill flood lights are turned on and the lifts keep turning until 9pm. Cruising around under the floodlights as ice crystals freeze to your face in the -30 degree air before heading back to the log cabin for a sauna is a pretty memorable experience.</p>
              </div>
            </div>
            <div class="slide">
              <div class="image"><img src="img/intro--slider-02.jpg" alt=""></div>
              <div class="text">
                <p class="title">Levi, Finland</p>
                <p>Levi is the only resort in this list that’s situated in Finland. It always seems to get snow super early in the winter, probably because it’s way inside the Arctic Circle. The mountain is in fact more of a hill really, but there are some really fun runs among the trees and the natural half pipe on the run down to the base is legendary.</p>
              </div>
            </div>
          </div>
          <div class="article--tools clearfix">
            <div class="article--tags left"><span class="bold">Tags :</span><a href="#">proin</a><span>,</span><a href="#">iaculis</a><span>,</span><a href="#">hendrerit</a><span>,</span><a href="#">lacinia</a><span>,</span><a href="#">pellentesque</a></div>
            <div class="article--category right"><a href="#">Áustria Saalbach - Category</a></div>
          </div>
        </div>
        <div class="one--author">
          <div class="one--author-avatar"><img src="http://placeholdit.imgix.net/~text?txtsize=30&amp;txt=50x50&amp;w=100&amp;h=100" alt=""></div><a href="#" class="one--author-line">Sobre autor</a>
          <div class="one--author-name">Alexander Ivanov</div>
          <div class="one--author-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sodales mattis gravida.</div>
        </div>
        <div class="trips"><a href="#">Crirar Trip</a><a href="#">Todos Trip</a><a href="#">Crirar Trip</a><a href="#">Todos Trip</a></div>
        <div class="comments">
          <div class="news--item-title clearfix">
            <div class="news--item-name left">COMENTÁRIOS:</div>
          </div>
          <div class="comments--list">
            <div class="comment">
              <div class="comment--avatar"><img src="http://placeholdit.imgix.net/~text?txtsize=30&amp;txt=50x50&amp;w=100&amp;h=100" alt=""></div>
              <div class="comment--inner">
                <div class="comment--info"><a href="#" class="comment--author">Felipe Mischiatti Cazelli Mischiatti Cazelli</a><span class="comment--date">, 23 de March, 2016 às 01:36 PM</span></div>
                <div class="comment--text">Atrás de algo barato que esse tá osso, vc já...</div>
              </div>
            </div>
            <div class="comment sub">
              <div class="comment--avatar"><img src="http://placeholdit.imgix.net/~text?txtsize=30&amp;txt=50x50&amp;w=100&amp;h=100" alt=""></div>
              <div class="comment--inner">
                <div class="comment--info"><a href="#" class="comment--author">Fábio Paz Paz</a><span class="comment--date">, 23 de March, 2016 às 02:34 PM</span></div>
                <div class="comment--text">Atrás de algo barato que esse tá osso...</div>
              </div>
            </div>
            <div class="comment">
              <div class="comment--avatar"><img src="http://placeholdit.imgix.net/~text?txtsize=30&amp;txt=50x50&amp;w=100&amp;h=100" alt=""></div>
              <div class="comment--inner">
                <div class="comment--info"><a href="#" class="comment--author">Alexander Ivanov</a><span class="comment--date">, 23 de March, 2016 às 01:36 PM</span></div>
                <div class="comment--text">Atrás de algo barato que esse tá osso, vc já...</div>
              </div>
            </div>
          </div>
          <div class="comments--form">
            <form action="" method="POST">
              <input type="text" placeholder="Add a comment or a reply here ...">
              <button type="submit">Enviar</button>
            </form>
          </div>
        </div>
        <div class="news--item-title clearfix">
          <div class="news--item-name left">Related materials:</div>
        </div>
        <div class="related--slider">
          <div class="slide">
            <div class="article visible-sm">
              <div class="article--inner pad">
                <div class="article--image"><img src="http://placeholdit.imgix.net/~text?txtsize=60&amp;txt=100x57&amp;w=200&amp;h=114" alt=""></div>
                <div class="article--info">
                  <div class="article--title">Existem muitas variações das passagens</div><a href="#" class="article--user">Admin</a>
                </div>
                <div class="article--text">Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que ....&nbsp;<a href="#">Leia mais</a></div>
                <div class="article--tools visible-sm clearfix">
                  <div class="article--tags left"><span class="bold">Tags :</span><a href="#">proin</a><span>,</span><a href="#">iaculis</a><span>,</span><a href="#">hendrerit</a><span>,</span><a href="#">lacinia</a><span>,</span><a href="#">pellentesque</a></div>
                  <div class="article--category right"><a href="#">Áustria Saalbach - Category</a></div>
                </div>
              </div>
            </div><a href="#" class="article hidden-sm">
              <div class="article--image-big"><img src="http://placeholdit.imgix.net/~text?txtsize=60&amp;txt=100x57&amp;w=200&amp;h=114" alt=""></div>
              <div class="article--inner">
                <div class="article--title">O Lorem Ipsum é um texto modelo da indústria</div>
              </div></a>
          </div>
          <div class="slide">
            <div class="article visible-sm">
              <div class="article--inner pad">
                <div class="article--image"><img src="http://placeholdit.imgix.net/~text?txtsize=60&amp;txt=100x57&amp;w=200&amp;h=114" alt=""></div>
                <div class="article--info">
                  <div class="article--title">Existem muitas variações das passagens</div><a href="#" class="article--user">Admin</a>
                </div>
                <div class="article--text">Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que ....&nbsp;<a href="#">Leia mais</a></div>
                <div class="article--tools visible-sm clearfix">
                  <div class="article--tags left"><span class="bold">Tags :</span><a href="#">proin</a><span>,</span><a href="#">iaculis</a><span>,</span><a href="#">hendrerit</a><span>,</span><a href="#">lacinia</a><span>,</span><a href="#">pellentesque</a></div>
                  <div class="article--category right"><a href="#">Áustria Saalbach - Category</a></div>
                </div>
              </div>
            </div><a href="#" class="article hidden-sm">
              <div class="article--image-big"><img src="http://placeholdit.imgix.net/~text?txtsize=60&amp;txt=100x57&amp;w=200&amp;h=114" alt=""></div>
              <div class="article--inner">
                <div class="article--title">O Lorem Ipsum é um texto modelo da indústria</div>
              </div></a>
          </div>
          <div class="slide">
            <div class="article visible-sm">
              <div class="article--inner pad">
                <div class="article--image"><img src="http://placeholdit.imgix.net/~text?txtsize=60&amp;txt=100x57&amp;w=200&amp;h=114" alt=""></div>
                <div class="article--info">
                  <div class="article--title">Existem muitas variações das passagens</div><a href="#" class="article--user">Admin</a>
                </div>
                <div class="article--text">Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que ....&nbsp;<a href="#">Leia mais</a></div>
                <div class="article--tools visible-sm clearfix">
                  <div class="article--tags left"><span class="bold">Tags :</span><a href="#">proin</a><span>,</span><a href="#">iaculis</a><span>,</span><a href="#">hendrerit</a><span>,</span><a href="#">lacinia</a><span>,</span><a href="#">pellentesque</a></div>
                  <div class="article--category right"><a href="#">Áustria Saalbach - Category</a></div>
                </div>
              </div>
            </div><a href="#" class="article hidden-sm">
              <div class="article--image-big"><img src="http://placeholdit.imgix.net/~text?txtsize=60&amp;txt=100x57&amp;w=200&amp;h=114" alt=""></div>
              <div class="article--inner">
                <div class="article--title">O Lorem Ipsum é um texto modelo da indústria</div>
              </div></a>
          </div>
        </div>
        <div class="news--item-title clearfix">
          <div class="news--item-name left">Proximo evento:</div>
        </div><a href="#" class="article hidden-sm">
          <div class="article--image-big"><img src="http://placeholdit.imgix.net/~text?txtsize=60&amp;txt=100x57&amp;w=200&amp;h=114" alt=""></div>
          <div class="article--inner">
            <div class="article--title">O Lorem Ipsum é um texto modelo da indústria</div>
          </div></a>
        <div class="article visible-sm">
          <div class="article--inner pad">
            <div class="article--image"><img src="http://placeholdit.imgix.net/~text?txtsize=60&amp;txt=100x57&amp;w=200&amp;h=114" alt=""></div>
            <div class="article--info">
              <div class="article--title">Existem muitas variações das passagens</div>
              <div class="article--photo">11</div>
              <div class="article--height">1900 metros</div>
            </div>
            <div class="article--text">Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que ....&nbsp;<a href="#">Leia mais</a></div>
            <div class="article--tools visible-sm clearfix">
              <div class="article--tags left"><span class="bold">Tags :</span><a href="#">proin</a><span>,</span><a href="#">iaculis</a></div>
              <div class="article--category right"><a href="#">Áustria Saalbach - Category</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="foot">
      <div class="foot--socials"><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a></div>
      <div class="foot--links">
        <li><a href="#">Estações</a></li>
        <li><span>//</span></li>
        <li><a href="#">Dicas</a></li>
        <li><span>//</span></li>
        <li><a href="#">Vamo Junto</a></li>
        <li><span>//</span></li>
        <li><a href="#">Pacotes</a></li>
        <li><span>//</span></li>
        <li><a href="#">Forum</a></li>
        <li><span>//</span></li>
        <li><a href="#">Galera Snow</a></li>
      </div>
      <div class="foot--form">
        <input type="text" placeholder="Seu email...">
        <button type="submit">@</button><br><span>Receba a nossa newsletter</span>
      </div>
      <div class="foot--copy">Politica de Privacidade. Copyright 2014-2015.</div>
    </footer>
    <div class="menu"><a href="#" class="menu--close"></a>
      <div class="menu--inner"><a href="#" class="menu--login"><img src="img/menu--login.png" alt=""><span>Log in</span></a>
        <div class="menu--links">
          <ul>
            <li class="sub"><span>Home</span><i></i>
              <ul>
                <li><a href="#">videos</a></li>
                <li><a href="#">eventos</a></li>
                <li><a href="#">galerias de fotos</a></li>
              </ul>
            </li>
            <li class="sub"><span>Estações</span><i></i>
              <ul>
                <li><a href="#">videos</a></li>
                <li><a href="#">eventos</a></li>
                <li><a href="#">galerias de fotos</a></li>
              </ul>
            </li>
            <li class="sub"><span>Dicas</span><i></i>
              <ul>
                <li><a href="#">videos</a></li>
                <li><a href="#">eventos</a></li>
                <li><a href="#">galerias de fotos</a></li>
              </ul>
            </li>
            <li><a href="#">Vamo Junto</a></li>
            <li class="sub"><span>Pacotes</span><i></i>
              <ul>
                <li><a href="#">videos</a></li>
                <li><a href="#">eventos</a></li>
                <li><a href="#">galerias de fotos</a></li>
              </ul>
            </li>
            <li class="sub"><span>Forum</span><i></i>
              <ul>
                <li><a href="#">videos</a></li>
                <li><a href="#">eventos</a></li>
                <li><a href="#">galerias de fotos</a></li>
              </ul>
            </li>
            <li class="sub"><span>Galera Snow</span><i></i>
              <ul>
                <li><a href="#">videos</a></li>
                <li><a href="#">eventos</a></li>
                <li><a href="#">galerias de fotos</a></li>
              </ul>
            </li>
          </ul>
        </div><a href="#" class="menu--settings">Settings</a>
      </div>
    </div>
    <div class="login"><a href="#" class="login--close"></a>
      <div class="login--inner"> 
        <div class="login--title">Entre na sua conta do Zona Radical</div>
        <div class="login--label">Faca o login com seu e-mail</div>
        <div class="login--input"> 
          <input type="text" placeholder="SEU EMAIL...">
        </div>
        <div class="login--input"> 
          <input type="text" placeholder="SENHA">
        </div>
        <div class="login--submit"> 
          <button type="submit">Entrar</button>
        </div>
        <div class="login--or">ou&nbsp;<a href="#">Esqueci a senha</a></div>
        <div class="login--socials"> <a href="#" class="fb">Entrar com o Facebook</a><a href="#" class="gp">Entrar com o Google</a><a href="#" class="tw">Entrar com o Twitter</a></div>
        <div class="login--or">Nao tem uma conta?&nbsp;<a href="#">Cadastre-se</a></div>
      </div>
    </div>
  </body>
</html>
