index.html
<!DOCTYPE html>
<html>
  <!-- Содержимое тега <head> для всех страниц-->
  <head>
    <meta charset="utf-8">
    <title>Zona</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <!-- Шрифты-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;amp;subset=latin,cyrillic">
    <!-- Стили-->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- Скрипты-->
    <script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="js/slick.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
  </head>
  <body>
    <!-- Шапка главной страницы-->
    <header class="head"><a href="#" class="head--logo"></a>
      <div class="head--input">
        <input type="text">
      </div>
      <div class="head--tools clearfix"><a href="#" class="left i1"></a><a href="#" class="left i2"></a></div>
    </header>
    <div class="intro">
      <div class="intro--slider">
        <div class="slide"><img src="img/intro--slider-01.jpg" alt="">
          <p>Ao contrário da crença popular, o Lorem Ipsum não é simplesmente texto aleatório.</p>
        </div>
        <div class="slide"><img src="img/intro--slider-02.jpg" alt="">
          <p>Ao contrário da crença popular, o Lorem Ipsum não é simplesmente texto aleatório.</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="news">
        <div class="row clearfix">
          <div class="news--item left">
            <div class="news--item-title clearfix">
              <div class="news--item-name left">ÚLTIMAS NOTICIAS</div><a href="#" class="news--item-more right">Todos</a>
            </div>
            <div class="news--item-cont">
              <div class="clearfix">
                <div class="news--item-image left"><img src="http://placeholdit.imgix.net/~text?txtsize=60&amp;txt=100x100&amp;w=200&amp;h=200" alt=""></div>
                <div class="news--item-text right">Você já dominou seu equipamento e aprendeu as dicas básicas de edição de vídeo de ação? Se sim, prossiga aqui para dicas mais avançadas. Aqui nós focamos mais nos elementos artísticos do que na técnica, porém mais pra frente iremos mostrar també</div>
              </div>
              <div class="news--item-tool alt">21/10/2015</div>
            </div>
          </div>
          <div class="news--item left">
            <div class="news--item-title clearfix">
              <div class="news--item-name left">ÚLTIMAS DICAS</div><a href="#" class="news--item-more right">Todos</a>
            </div>
            <div class="news--item-cont">
              <div class="clearfix">
                <div class="news--item-image left"><img src="http://placeholdit.imgix.net/~text?txtsize=60&amp;txt=100x100&amp;w=200&amp;h=200" alt=""></div>
                <div class="news--item-text right">Você já dominou seu equipamento e aprendeu as dicas básicas de edição de vídeo de ação? Se sim, prossiga aqui para dicas mais avançadas. Aqui nós focamos mais nos elementos artísticos do que na técnica, porém mais pra frente iremos mostrar també</div>
              </div>
              <div class="news--item-tool">Caso voce faz contato pelo</div>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="news--item left">
            <div class="news--item-title clearfix">
              <div class="news--item-name left">EVENTOS</div><a href="#" class="news--item-more right">Todos</a>
            </div>
            <div class="news--item-cont">
              <div class="clearfix">
                <div class="news--item-image left"><img src="http://placeholdit.imgix.net/~text?txtsize=60&amp;txt=100x100&amp;w=200&amp;h=200" alt=""></div>
                <div class="news--item-text right">Você já dominou seu equipamento e aprendeu as dicas básicas de edição de vídeo de ação? Se sim, prossiga aqui para dicas mais avançadas. Aqui nós focamos mais nos elementos artísticos do que na técnica, porém mais pra frente iremos mostrar també</div>
              </div>
              <div class="news--item-tool">Caso voce faz contato pelo</div>
            </div>
          </div>
          <div class="news--item left">
            <div class="news--item-title clearfix">
              <div class="news--item-name left">TRIPS</div><a href="#" class="news--item-more right">Todos</a>
            </div>
            <div class="news--item-cont">
              <div class="clearfix">
                <div class="news--item-image left"><img src="http://placeholdit.imgix.net/~text?txtsize=60&amp;txt=100x100&amp;w=200&amp;h=200" alt=""></div>
                <div class="news--item-text right">Você já dominou seu equipamento e aprendeu as dicas básicas de edição de vídeo de ação? Se sim, prossiga aqui para dicas mais avançadas. Aqui nós focamos mais nos elementos artísticos do que na técnica, porém mais pra frente iremos mostrar també</div>
              </div>
              <div class="news--item-tool">Caso voce faz contato pelo Zona Radical...</div>
            </div>
          </div>
        </div>
        <div class="news--item alt">
          <div class="news--item-title clearfix">
            <div class="news--item-name left">ENCONTRA A SUA TRIP</div>
          </div>
          <div class="news--selects row clearfix">
            <div class="news--select left">
              <div class="select">
                <input type="hidden" class="select_hidden">
                <div class="select_in"><span class="select_title">Caso voce faz contato</span><i class="select_arrow"></i></div>
                <ul class="select_list">
                  <li data-value="1" class="is-active">Caso voce faz contato</li>
                  <li data-value="2">Caso voce faz contato</li>
                  <li data-value="3">Caso voce faz contato</li>
                </ul>
              </div>
            </div>
            <div class="news--select left">
              <div class="select">
                <input type="hidden" class="select_hidden">
                <div class="select_in"><span class="select_title">Caso voce faz contato</span><i class="select_arrow"></i></div>
                <ul class="select_list">
                  <li data-value="1" class="is-active">Caso voce faz contato</li>
                  <li data-value="2">Caso voce faz contato</li>
                  <li data-value="3">Caso voce faz contato</li>
                </ul>
              </div>
            </div>
          </div>
          <button class="news--selects-btn">Procurar</button>
        </div>
      </div>
    </div>
    <footer class="foot">
      <div class="foot--socials"><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a></div>
      <div class="foot--links">
        <li><a href="#">Estações</a></li>
        <li><span>//</span></li>
        <li><a href="#">Dicas</a></li>
        <li><span>//</span></li>
        <li><a href="#">Vamo Junto</a></li>
        <li><span>//</span></li>
        <li><a href="#">Pacotes</a></li>
        <li><span>//</span></li>
        <li><a href="#">Forum</a></li>
        <li><span>//</span></li>
        <li><a href="#">Galera Snow</a></li>
      </div>
      <div class="foot--form">
        <input type="text" placeholder="Seu email...">
        <button type="submit">@</button><br><span>Receba a nossa newsletter</span>
      </div>
      <div class="foot--copy">Politica de Privacidade. Copyright 2014-2015.</div>
    </footer>
    <div class="menu"><a href="#" class="menu--close"></a>
      <div class="menu--inner"><a href="#" class="menu--login"><img src="img/menu--login.png" alt=""><span>Log in</span></a>
        <div class="menu--links">
          <ul>
            <li class="sub"><span>Home</span><i></i>
              <ul>
                <li><a href="#">videos</a></li>
                <li><a href="#">eventos</a></li>
                <li><a href="#">galerias de fotos</a></li>
              </ul>
            </li>
            <li class="sub"><span>Estações</span><i></i>
              <ul>
                <li><a href="#">videos</a></li>
                <li><a href="#">eventos</a></li>
                <li><a href="#">galerias de fotos</a></li>
              </ul>
            </li>
            <li class="sub"><span>Dicas</span><i></i>
              <ul>
                <li><a href="#">videos</a></li>
                <li><a href="#">eventos</a></li>
                <li><a href="#">galerias de fotos</a></li>
              </ul>
            </li>
            <li><a href="#">Vamo Junto</a></li>
            <li class="sub"><span>Pacotes</span><i></i>
              <ul>
                <li><a href="#">videos</a></li>
                <li><a href="#">eventos</a></li>
                <li><a href="#">galerias de fotos</a></li>
              </ul>
            </li>
            <li class="sub"><span>Forum</span><i></i>
              <ul>
                <li><a href="#">videos</a></li>
                <li><a href="#">eventos</a></li>
                <li><a href="#">galerias de fotos</a></li>
              </ul>
            </li>
            <li class="sub"><span>Galera Snow</span><i></i>
              <ul>
                <li><a href="#">videos</a></li>
                <li><a href="#">eventos</a></li>
                <li><a href="#">galerias de fotos</a></li>
              </ul>
            </li>
          </ul>
        </div><a href="#" class="menu--settings">Settings</a>
      </div>
    </div>
    <div class="login"><a href="#" class="login--close"></a>
      <div class="login--inner"> 
        <div class="login--title">Entre na sua conta do Zona Radical</div>
        <div class="login--label">Faca o login com seu e-mail</div>
        <div class="login--input"> 
          <input type="text" placeholder="SEU EMAIL...">
        </div>
        <div class="login--input"> 
          <input type="text" placeholder="SENHA">
        </div>
        <div class="login--submit"> 
          <button type="submit">Entrar</button>
        </div>
        <div class="login--or">ou&nbsp;<a href="#">Esqueci a senha</a></div>
        <div class="login--socials"> <a href="#" class="fb">Entrar com o Facebook</a><a href="#" class="gp">Entrar com o Google</a><a href="#" class="tw">Entrar com o Twitter</a></div>
        <div class="login--or">Nao tem uma conta?&nbsp;<a href="#">Cadastre-se</a></div>
      </div>
    </div>
  </body>
</html>

jade/index.jade
doctype html
html
	include ./includes/head.jade

	body
		include ./includes/header--main.jade

		.intro
			.intro--slider
				.slide
					img(src="img/intro--slider-01.jpg" alt="")
					p Ao contrário da crença popular, o Lorem Ipsum não é simplesmente texto aleatório.
				
				.slide
					img(src="img/intro--slider-02.jpg" alt="")
					p Ao contrário da crença popular, o Lorem Ipsum não é simplesmente texto aleatório.

		.container
			.news
				.row.clearfix
					.news--item.left
						.news--item-title.clearfix
							.news--item-name.left ÚLTIMAS NOTICIAS
							a(href="#").news--item-more.right Todos

						.news--item-cont
							.clearfix
								.news--item-image.left
									img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x100&w=200&h=200" alt="")

								.news--item-text.right Você já dominou seu equipamento e aprendeu as dicas básicas de edição de vídeo de ação? Se sim, prossiga aqui para dicas mais avançadas. Aqui nós focamos mais nos elementos artísticos do que na técnica, porém mais pra frente iremos mostrar també

							.news--item-tool.alt 21/10/2015

					.news--item.left
						.news--item-title.clearfix
							.news--item-name.left ÚLTIMAS DICAS
							a(href="#").news--item-more.right Todos

						.news--item-cont
							.clearfix
								.news--item-image.left
									img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x100&w=200&h=200" alt="")

								.news--item-text.right Você já dominou seu equipamento e aprendeu as dicas básicas de edição de vídeo de ação? Se sim, prossiga aqui para dicas mais avançadas. Aqui nós focamos mais nos elementos artísticos do que na técnica, porém mais pra frente iremos mostrar també

							.news--item-tool Caso voce faz contato pelo

				.row.clearfix
					.news--item.left
						.news--item-title.clearfix
							.news--item-name.left EVENTOS
							a(href="#").news--item-more.right Todos

						.news--item-cont
							.clearfix
								.news--item-image.left
									img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x100&w=200&h=200" alt="")

								.news--item-text.right Você já dominou seu equipamento e aprendeu as dicas básicas de edição de vídeo de ação? Se sim, prossiga aqui para dicas mais avançadas. Aqui nós focamos mais nos elementos artísticos do que na técnica, porém mais pra frente iremos mostrar també

							.news--item-tool Caso voce faz contato pelo

					.news--item.left
						.news--item-title.clearfix
							.news--item-name.left TRIPS
							a(href="#").news--item-more.right Todos

						.news--item-cont
							.clearfix
								.news--item-image.left
									img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x100&w=200&h=200" alt="")

								.news--item-text.right Você já dominou seu equipamento e aprendeu as dicas básicas de edição de vídeo de ação? Se sim, prossiga aqui para dicas mais avançadas. Aqui nós focamos mais nos elementos artísticos do que na técnica, porém mais pra frente iremos mostrar també

							.news--item-tool Caso voce faz contato pelo Zona Radical...

				.news--item.alt
					.news--item-title.clearfix
						.news--item-name.left ENCONTRA A SUA TRIP

					.news--selects.row.clearfix
						.news--select.left
							.select
								input(type="hidden").select_hidden
								
								.select_in
									span.select_title Caso voce faz contato
									i.select_arrow

								ul.select_list
									li(data-value="1").is-active Caso voce faz contato
									li(data-value="2") Caso voce faz contato
									li(data-value="3") Caso voce faz contato

						.news--select.left
							.select
								input(type="hidden").select_hidden
								
								.select_in
									span.select_title Caso voce faz contato
									i.select_arrow

								ul.select_list
									li(data-value="1").is-active Caso voce faz contato
									li(data-value="2") Caso voce faz contato
									li(data-value="3") Caso voce faz contato
									

					button.news--selects-btn Procurar

		include ./includes/footer.jade
		include ./includes/menu.jade
		include ./includes/login.jade
